* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Smooch Sans", sans-serif;
}
body {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(11, 33, 82, 1) 37%,
    rgba(0, 212, 255, 1) 100%
  );
  background-color: rgb(88, 84, 84);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
/* heading */
.heading {
  background: rgba(250, 250, 250, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 50px auto 10px auto;
  font-size: 55px;
  text-align: center;
  border-radius: 10px;
  width: max-content;
  padding: 5px 15px;
}
/* main-container */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 100px 100px;
}
.input-box1 {
  width: 250px;
  height: auto;
  border-radius: 15px;
  text-align: center;
  background: rgba(250, 250, 250, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 20px 0;
  transform: scale(1.3);
}
.input-box2 {
  border-radius: 15px;
  width: 250px;
  text-align: center;
  background: rgba(250, 250, 250, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transform: scale(1.3);
}
h3 {
  display: inline;
  color: antiquewhite;
  font-size: 20px;
}
#Celsius {
  border-radius: 15px;
}
#Fahrenheit {
  border-radius: 15px;
}

input {
  width: 200px;
  height: auto;
  border-radius: 9px;
  border: 2px solid rgb(79, 139, 0);
  outline: none;
  margin-top: 10px;
  padding: 0 10px;
}
input:focus {
  border: 5px solid;
}
